@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins&display=swap');

*{
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.container{
  width: 500px;
  margin: auto auto;
  background-color: #131e29;
  padding: 20px;
  opacity: 0.8;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: white;
}

form {
  display: flex;
  margin-bottom: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}
input[type="text"]:focus{
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(8, 51, 97);
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.icon{
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.fatrash{
  margin-left: 15px;
}
button:hover {
  opacity: 0.9;
}

ul {
  list-style: none;
  padding: 0;
}
.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(43, 91, 142);
  padding: 0 15px;
  border-radius: 5px;
}
.todo-name{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  word-wrap: break-word;
}
.todo-el {
  flex-grow: 1; 
  margin-right: 10px; 
}

li {
  margin-bottom: 10px;
}
.icons {
  display: flex; 
}

button {
  margin-left: auto;
}

@media (max-width: 600px) {
  .container{
    width: 330px;
  }
  form {
    align-items: stretch;
  }

  input[type="text"] {
    width: 100%;
  }
}
